ion-row {
	height: 100px;
	width: 300px;
  cursor: pointer;
}

ion-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin-top: 300px;
	margin-left: 800px;
	margin-right: 800px;
}

ion-input {
  cursor: pointer;
	height: 100px;
	width: 100px;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	border-right: 1px rgba(0, 0, 0, 0.2) solid;
	border-left: 1px rgba(0, 0, 0, 0.2) solid;
	border-top: 1px rgba(0, 0, 0, 0.2) solid;
	h1 {
		margin-left: 30px;
	}
}
