<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      三目ならべ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!userSetting">
    <ion-row>
      <ion-button (click)="setUserOX(true)">〇で戦う</ion-button>
      <ion-button (click)="setUserOX(false)">☓で戦う</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="userSetting">
    <ion-col>
      <ion-row *ngFor="let row of oxArray let i = index">
        <ion-button color="light" [disabled]="cantClick" *ngFor="let col of row let j = index"
          (click)="addString(i,j, userSetting)">
          <h2 *ngIf="col === '〇'">〇</h2>
          <h2 *ngIf="col === '☓'">☓</h2>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
